
*.1
*.v2
*.vsidx
*.lock
SplitDecisions/.vs/SplitDecisions/v17/.suo
*.json
SplitDecisions/.vs/SplitDecisions/xs/UserPrefs.xml
SplitDecisions/SplitDecisions/bin/Debug/net6.0/SplitDecisions
*.dll
SplitDecisions/SplitDecisions/bin/Debug/net6.0/SplitDecisions.exe
*.pdb
SplitDecisions/SplitDecisions/obj/Debug/net6.0/apphost
*.exe
*.cache
*.BuildWithSkipAnalyzers
*.editorconfig
*.props
TextFiles/.DS_Store
.DS_Store
